.bodys {

  color: #C0C0C0;
  font-family: fantasy;
  float:left;
  width: 78%;
  padding-top: 2%;
  line-height: 1.9em;
  padding-left: 1.5%;
}
body {
  background-color: #000302;
}

.headers {
text-align: center;
font-style: italic;
color: #B22222;
}
.sidebar {
  text-align: center;
  float: right;
background-color: inherit;
line-height: 1.9em;
  color: #C0C0C0;
  width: 18%;
  padding-top: 4%;
  padding right: 1.5%;
  font-family: fantasy;
}
.images {
 color: #C0C0C0;
  float: left;
}
